# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Model files (optional: include if large)
*.pkl

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log